button.delete {
    background-color: #dc3545; 
    margin-left: 10px; 
    
  }
  

  li {
    width: 100%; 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    max-width: 300px; 
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  button.delete:hover {
    background-color: #c82333; 
  }